<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
      <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup></configSections>
	
  <nlog autoReload="true" hrowExceptions="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="dailyFile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
              fileName="${basedir}\ErrorLog-${shortdate}.log"
              archiveFileName="${basedir}\ErrorLog-${shortdate}.log"
              archiveEvery="Minute"
              archiveNumbering="Rolling"
              maxArchiveFiles="5"
              concurrentWrites="true"
              keepFileOpen="false"/>
      <target xsi:type="BufferingWrapper"
          name="MailBuffer"
          slidingTimeout="false"
          bufferSize="10"
          flushTimeout="-1">
        <target name="mail" xsi:type="Mail" smtpPort="87" smtpServer="213.168.12.43" from="someemail@domain.com"
            to="youremail@domain.com" cc="someemail@domain.com" subject="NLog Error Test - ${longdate}"
            body="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}"
            html="true"
            header="*****************************NLog - Errors - ${longdate}***************************${newline}"
            footer="************************************NLog - Errors**********************************"
            addNewLines="true"
            replaceNewlineWithBrTagInHtml="true"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="dailyFile" />
      <logger name="*" minlevel="Error" writeTo="mail" />
    </rules>
  </nlog>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></assemblies></compilation>
	<httpHandlers>
			<add verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" />
		</httpHandlers></system.web>
  <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="LoggerHandler" verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="LoggerHandler-Classic" path="*.logger" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode" />
        </handlers>
    </system.webServer><common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />-->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
